<meta charset=UTF-8>
<meta name=viewport content="width=device-width, initial-scale=1">

{{#description}}
<meta name="description" content="{{description}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="/logo-on-white-100.png">
<meta name="twitter:site" content="@{{twitter}}">
<meta name="twitter:title" content="{{title}}">
<meta name="og:type" content="website">
<meta name="og:title" content="{{title}}">
<meta name="og:description" content="{{description}}">
<meta name="og:image" content="/logo-on-white-100.png">
<meta name="og:site" content="{{name}}">
{{/description}}

<link href=/normalize.css rel=stylesheet>
<link href=/styles.css rel=stylesheet>

{{#feed}}<link rel=alternate href={{{feed}}} type=application/rss+xml>{{/feed}}
