<!doctype html>
<html lang=en-US>
  <head>
    {{>meta}}
    <title>{{name}} — {{title}}</title>
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main role=main>
      <h2>License</h2>
      <p>Version {{number}}, Published <time datetime="{{datetime}}">{{dateString}}</time></p>
      {{^isLatest}}
      <aside class=danger>
        <p>A <a href=/license/{{latestLicense}}>newer version</a> of the license now applies.</p>
      </aside>
      {{/isLatest}}
      {{>content}}
    </main>
    {{>footer}}
  </body>
</html>
