<!doctype html>
<html lang=en-US>
  <head>
    {{>meta}}
    <title>{{name}} {{number}}</title>
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main role=main>
      <p>Version {{number}}, Published <time datetime="{{datetime}}">{{dateString}}</time></p>
      {{^isLatest}}
      <aside class=danger>
        <p>A <a href=/versions/{{latestVersion}}>newer version</a> of {{name}} is available.</p>
      </aside>
      {{/isLatest}}
      <noscript>
        <p>{{name}} requires JavaScript to help you build terms, but your web browser has it turned off.</p>
      </noscript>
    </main>
    {{>footer}}
    <script src=/versions/{{number}}/script.js></script>
  </body>
</html>
