{% include before.html %}
<main role=main>
  <h2>Version {{page.number}}</h2>
  <p>Published {{page.date | date: "%B %-d, %Y"}}</p>
  <h3>Documents</h3>
  <table>
    <tbody>
      <tr>
        <th>Base Terms</th>
        {% for format in page.formats %}
        <td>
          <a href="/assets/{{page.number}}/base.{{format}}">{{format | upcase}}</a>
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th>Order</th>
        {% for format in page.formats %}
        <td>
          <a href="/assets/{{page.number}}/order.{{format}}">{{format | upcase}}</a>
        </td>
        {% endfor %}
      </tr>
      {% for addon in page.addons %}
      <tr>
        <th>{{addon | capitalize}} Add-On</th>
        {% for format in page.formats %}
        <td>
          <a href="/assets/{{page.number}}/{{addon}}.{{format}}">{{format | upcase}}</a>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Notes</h3>
  {{content}}
  <h3>License</h3>
  <p>Each contributor licenses you to do everything with SaaS Passport documents that would otherwise infringe that contributor’s copyright in it.</p>
  <p>If you make changes to a SaaS Passport base terms or any add-on document, you must remove all mention of “SaaS Passport” and saaspassport.com, as well.</p>
  <p><strong>As far as the law allows, SaaS Passport documents come as is, without any warranty at all, and no contributor will be liable to anyone for any damages related to the licenses or their use, for any kind of legal claim.</strong></p>
</main>
{% include after.html %}
